#main-title
{
    color:white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

body{
    background-color: #b3e5fc;
}

#title-img{
    max-height:80px;
    margin-bottom:10px;
}

.col-1 {
    border: 1px solid black !important;
    position: relative;
    min-height: 80px;
    overflow: hidden;
    background: transparent;
}


.cell-color {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.cell-text {
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.empty-col{
    border: none !important;
    background: transparent;
    overflow: hidden;
    background: transparent;
    min-height: 80px;
}

/* Make corner squares wider */
.corner-cell {
    flex: 0 0 12.5% !important;
    max-width: 12.5% !important;
    min-width: 12.5% !important;
}

#center-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    position: relative;
}

#center-images img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    transform: rotate(-45deg);
}

.align-right-under-corner {
    margin-left: 8.3333%;
}

.group-1 { background-color: #ffe082; }
.group-2 { background-color: #b2ff59; }
.group-3 { background-color: #80d8ff; }
.group-4 { background-color: #ff8a80; }

.start-cell:hover
{
    background-color: red; 
}